<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="footer-ribon">
						<span>Get in Touch</span>
					</div>
					<div class="col-md-3">
						<div class="newsletter">
							<h4>Newsletter</h4>
							<p>Keep up on our always evolving pastry and services. Enter your e-mail and subscribe to our newsletter and offers.</p>

							<div class="alert alert-success hidden" id="newsletterSuccess">
								<strong>Success!</strong> You've been added to our email list.
							</div>

							<div class="alert alert-danger hidden" id="newsletterError"></div>

							<form id="newsletterForm" action="#" method="POST">
								<div class="input-group">
									<input class="form-control" placeholder="Email Address" name="email" id="email" type="text">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Go!</button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3" id="recentWork">
						<h4>Recent Work</h4>

						<ul class="list-unstyled recent-work">
							{{#each products}}
							{{#if latest}}
								<li>
									<a class="thumb-info" href="#latestProducts">
										<img src="img/products/product-{{id}}.jpg" alt="{{name}}">
									</a>
								</li>
							{{/if}}
							{{/each}}
						</ul>

						<a href="#recentWork" class="btn-flat pull-right btn-xs view-more-recent-work">View More <i class="icon icon-arrow-right"></i></a>

					</div>
					<div class="col-md-4">
						<div class="contact-details">
							<h4>Contact Us</h4>
							<ul class="contact">
								<li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong> Av Catalana 123 Sant Adria de Besos 08930 Spain</p></li>
								<li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> (+34) 622 9 111 44</p></li>
								<li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="#" data-toggle="modal" data-target="#contactUsModal">Contact Us</a></p></li>

									<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
													<h4 class="modal-title" id="formModalLabel">Contact Us</h4>
												</div>
												<div class="modal-body">
													<form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
														<div class="form-group mt-lg">
															<label class="col-sm-3 control-label">Name</label>
															<div class="col-sm-9">
																<input type="text" name="name" class="form-control" placeholder="Type your name..." required="">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Email</label>
															<div class="col-sm-9">
																<input type="email" name="email" class="form-control" placeholder="Type your email..." required="">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Comment</label>
															<div class="col-sm-9">
																<textarea rows="5" class="form-control" placeholder="Type your comment..." required=""></textarea>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Send</button>
												</div>
											</div>
										</div>
									</div>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<h4>Follow Us</h4>
						<div class="social-icons">
							<ul class="social-icons">
								<li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
								<li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
								<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a href="#" class="logo">
								<img alt="AnnPastry.com - your personal pastry chef" class="img-responsive" src="img/logo-footer2.png">
							</a>
						</div>
						<div class="col-md-7">
							<p>© Copyright 2016. All Rights Reserved.</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li><a href="#">FAQ's</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>