<div class="home-intro">
	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<p>
					The best way to delight youself and your family or friends is <em>Pastry.</em>
					<span>Check out our amazing cakes and tarts.</span>
				</p>
			</div>
			<div class="col-md-4">
				<div class="get-started">
					<a href="#" class="btn btn-lg btn-primary">Check Now!</a>
					<div class="learn-more">or <a href="index.html">learn more.</a></div>
				</div>
			</div>
		</div>

	</div>
</div>