<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-group"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Ingredients</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
						</div>
					</div>
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-file"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">100% natural and fresh</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-film"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Handmade</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
						</div>
					</div>
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-check"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Present for every order</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-bars"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">We don't have holidays</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
						</div>
					</div>
					<div class="feature-box secundary">
						<div class="feature-box-icon">
							<i class="icon icon-desktop"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="shorter">Customer</h4>
							<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>