<!-- Libs -->
	<script src="vendor/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="vendor/jquery.easing.js"></script>
	<script src="vendor/jquery.appear.js"></script>
	<script src="vendor/jquery.cookie.js"></script>
	
	<script src="vendor/bootstrap.js"></script>
	<script src="vendor/twitterjs/twitter.js"></script>
	<script src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.js"></script>
	<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
	<script src="vendor/jflickrfeed/jflickrfeed.js"></script>
	<script src="vendor/magnific-popup/magnific-popup.js"></script>
	<script src="vendor/isotope/jquery.isotope.js"></script>
	<script src="vendor/jquery.validate.js"></script>

	<!-- Current Page Scripts -->
	<script src="js/views/view.home.js"></script>

	<!-- Theme Initializer -->
	<script src="js/theme.js"></script>

	<!-- Custom JS -->
	<script src="js/custom.js"></script>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
	
	 -->