<section class="featured highlight footer">
	<div class="container">
		<div class="row center counters">
			<div class="col-md-3">
				<strong data-to="100" data-append="+">0</strong>
				<label>Happy Clients</label>
			</div>
			<div class="col-md-3">
				<strong data-to="2">0</strong>
				<label>Years in Business</label>
			</div>
			<div class="col-md-3">
				<strong data-to="200" data-append="+">0</strong>
				<label>Cakes made</label>
			</div>
			<div class="col-md-3">
				<strong data-to="37">0</strong>
				<label>Different cakes</label>
			</div>
		</div>
	</div>
</section>