<div class="container" id="occasions">
	<div class="row center">
		<div class="col-md-12">
			<h2 class="short word-rotator-title">
				We make
				<strong class="inverted">
					<span class="word-rotate">
						<span class="word-rotate-items">
							<span>incredibly</span>
							<span>especially</span>
							<span>extremely</span>
						</span>
					</span>
				</strong>
				beautiful and delicious handmade pastry.
			</h2>
			<p class="featured lead">
				Birthday and Gourmet Cakes for Every Occasion.
			</p>
		</div>
	</div>

	<div class="row push-top">
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon icon-group"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Happy Birthday</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon icon-file"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Thank you</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon icon-google-plus"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Happy Anniversary</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="image-icon small user"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">LOVE</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon icon-bars"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Indulge myself</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="icon icon-desktop"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="shorter">Present</h4>
					<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
				</div>
			</div>
		</div>
	</div>
</div>