<div class="container" id="ourProcess">
	<div class="row center">
		<div class="col-md-12">
			<h2 class="short word-rotator-title">
				Our pastry is
				<strong class="inverted">
					<span class="word-rotate">
						<span class="word-rotate-items">
							<span>incredibly</span>
							<span>especially</span>
							<span>extremely</span>
						</span>
					</span>
				</strong>
				beautiful and delicion for any occasion.
			</h2>
			<p class="featured lead">
				We make amazing cakes that we sure you will like. If you cannot find anything you like, please write us and we will make a cake according to your tastes and needs. Below you can see our process.
			</p>
		</div>
	</div>
</div>

<div class="home-concept">
	<div class="container">

		<div class="row center">
			<span class="sun"></span>
			<span class="cloud"></span>
			<div class="col-md-2 col-md-offset-1">
				<div class="process-image" data-appear-animation="bounceIn">
					<img src="img/home-concept-item-1.png" alt="" />
					<strong>Prepare</strong>
				</div>
			</div>
			<div class="col-md-2">
				<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
					<img src="img/home-concept-item-2.png" alt="" />
					<strong>Bake</strong>
				</div>
			</div>
			<div class="col-md-2">
				<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
					<img src="img/home-concept-item-3.png" alt="" />
					<strong>Assemble</strong>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="project-image">
					<div id="fcSlideshow" class="fc-slideshow">
						<ul class="fc-slides">
							<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-1.jpg" /></a></li>
							<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-2.jpg" /></a></li>
							<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-3.jpg" /></a></li>
						</ul>
					</div>
					<strong class="our-work">Our Work</strong>
				</div>
			</div>
		</div>

	</div>
</div>