<div class="portfolio-item img-thumbnail">
	<a class="thumb-info lightbox" href="#popupProduct{{id}}" data-plugin-options='{"type":"inline", preloader: false}'>
		<img alt="" class="img-responsive" src="img/products/product-{{id}}.jpg">
		<span class="thumb-info-title">
			<span class="thumb-info-inner">{{name}}</span>
			<span class="thumb-info-type">{{type}}</span>
		</span>
		<span class="thumb-info-action">
			<span title="{{name}}" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
		</span>
	</a>
</div>