<div class="container">
	<div class="row" id="team">
		<div class="col-md-12">

			<div class="row">

				<ul class="team-list">
					<li class="col-md-3">
						<div class="team-item thumbnail">
							<a href="about-me.html" class="thumb-info team">
								<img alt="" height="270" src="img/team/team-1.jpg">
								<span class="thumb-info-title">
									<span class="thumb-info-inner">Anna Kyrpychenko</span>
									<span class="thumb-info-type">Cake maker</span>
								</span>
							</a>
							<span class="thumb-info-caption">
								<p>Experienced and passioned about cakes, tarts and pastry.</p>
								<span class="thumb-info-social-icons">
									<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.instagram.com" data-original-title="Instagram"><i class="icon icon-instagram"></i><span>Instagram</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.pinterest.com" data-original-title="Pinterest"><i class="icon icon-pinterest"></i><span>Pinterest</span></a>
								</span>
							</span>
						</div>
					</li>
					<li class="col-md-3">
						<div class="team-item thumbnail">
							<a href="about-me.html" class="thumb-info team">
								<img alt="" height="270" src="img/team/team-2.jpg">
								<span class="thumb-info-title">
									<span class="thumb-info-inner">Leonid Kyrpychenko</span>
									<span class="thumb-info-type">Marketing and Development</span>
								</span>
							</a>
							<span class="thumb-info-caption">
								<p>Experience developer and marketer that helps support the business.</p>
								<span class="thumb-info-social-icons">
									<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
								</span>
							</span>
						</div>
					</li>
					<li class="col-md-3">
						<div class="team-item thumbnail">
							<a href="about-me.html" class="thumb-info team">
								<img alt="" height="270" src="img/team/team-3.jpg">
								<span class="thumb-info-title">
									<span class="thumb-info-inner">Maria Kyrpychenko</span>
									<span class="thumb-info-type">Inspirator</span>
								</span>
							</a>
							<span class="thumb-info-caption">
								<p>Inspires for new pastry. She estimates new cakes and helps Anna to clean up.</p>
								<span class="thumb-info-social-icons">
									<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
								</span>
							</span>
						</div>
					</li>
					<li class="col-md-3">
						<div class="team-item thumbnail">
							<a href="about-me.html" class="thumb-info team">
								<img alt="" height="270" src="img/team/team-4.jpg">
								<span class="thumb-info-title">
									<span class="thumb-info-inner">Michael Kyrpychenko</span>
									<span class="thumb-info-type">Personal Assistant</span>
								</span>
							</a>
							<span class="thumb-info-caption">
								<p>Michael helps with everything and he is the right hand of Anna.</p>
								<span class="thumb-info-social-icons">
									<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
									<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
								</span>
							</span>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>