<!-- Start weAreExcited -->

<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax.jpg);">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<i class="icon icon-featured icon-comments" data-appear-animation="bounceIn"></i>
				<h1 class="short text-shadow big white bold"><strong>We're excited about Porto Template</strong></h1>
				<h3 class="lead white">5,500 customers in 100 countries use Porto Template. Meet our customers.</h3>
			</div>
		</div>
	</div>
</section>

<!-- End weAreExcited -->