<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h2><strong>Who</strong> We Are</h2>
			<p>We are a team of passioned professionals who admire <a href="#">delight our customers</a>. Our main mission is to make you excellent desserts that will improve your wellbeing. </p>
		</div>
		<div class="col-md-7">
			<div class="progress-bars">
				<div class="progress-label">
					<span>Customer Satisfaction</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
						<span class="progress-bar-tooltip">100%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>Taste</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
						<span class="progress-bar-tooltip">85%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>Speed</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
						<span class="progress-bar-tooltip">75%</span>
					</div>
				</div>
				<div class="progress-label">
					<span>Decoration</span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
						<span class="progress-bar-tooltip">85%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="tall" />
</div>