<div class="container" id="aboutUs">

	<hr class="tall" />

	<div class="row center">
		<div class="col-md-12">
			<h2 class="short word-rotator-title">6  <strong class="inverted" data-appear-animation="bounceIn">
					<span class="word-rotate">
						<span class="word-rotate-items">
							<span>reasons</span>
							<span>motivators</span>
							<span>rules</span>
						</span>
					</span>
				</strong> why clients picked us
			</h2>
			<p class="featured lead">
				We are your reliable partner with affordable prices that exists  <span class="alternative-font">for our customer.</span> Our cakes, tarts, bakery, pastry for any ocassion will make you smile.
			</p>
		</div>
	</div>

	<hr class="tall" />
</div>