{{>head}}
<body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">

	<div class="body">
		{{>header}}

		<div role="main" class="main" id="home">
			<div id="content" class="content full">

				{{>slider}}
				
				{{>homeIntro}}

				{{>ourProcess}}

				{{>latestProducts}}

				{{>occasions}}

				{{>exclusiveFeature}}

				{{>orderNow}}

				{{>weAreExcited}}

				{{>portfolio}}

				{{>orderNow}}

				{{>aboutUs}}

				{{>orderNow}}

			</div>

		</div>

		{{>footer}}
	</div>

	{{>libs}}
</body>
</html>

