{{>head}}
<body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">

	<div class="body">
		{{>header}}

		<div role="main" class="main" id="home">
			<div id="content" class="content full">

				<div class="slider-container">
					<div class="slider" id="revolutionSlider">
						<ul>
							<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

								<img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<div class="tp-caption sft stb visible-lg"
									 data-x="72"
									 data-y="180"
									 data-speed="300"
									 data-start="1000"
									 data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

								<div class="tp-caption top-label lfl stl"
									 data-x="122"
									 data-y="180"
									 data-speed="300"
									 data-start="500"
									 data-easing="easeOutExpo">DO YOU WANT A NEW</div>

								<div class="tp-caption sft stb visible-lg"
									 data-x="372"
									 data-y="180"
									 data-speed="300"
									 data-start="1000"
									 data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

								<div class="tp-caption main-label sft stb"
									 data-x="30"
									 data-y="210"
									 data-speed="300"
									 data-start="1500"
									 data-easing="easeOutExpo">EXPERIENCE?</div>

								<div class="tp-caption bottom-label sft stb"
									 data-x="80"
									 data-y="280"
									 data-speed="500"
									 data-start="2000"
									 data-easing="easeOutExpo">Check out our pastry.</div>

								<div class="tp-caption randomrotate"
									 data-x="800"
									 data-y="248"
									 data-speed="500"
									 data-start="2500"
									 data-easing="easeOutBack"><img src="img/slides/slide-concept-2-1.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="850"
									 data-y="200"
									 data-speed="400"
									 data-start="3000"
									 data-easing="easeOutBack"><img src="img/slides/slide-concept-2-2.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="820"
									 data-y="170"
									 data-speed="700"
									 data-start="3150"
									 data-easing="easeOutBack"><img src="img/slides/slide-concept-2-3.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="770"
									 data-y="130"
									 data-speed="1000"
									 data-start="3250"
									 data-easing="easeOutBack"><img src="img/slides/slide-concept-2-4.png" alt=""></div>

								<div class="tp-caption sfb"
									 data-x="500"
									 data-y="80"
									 data-speed="600"
									 data-start="3450"
									 data-easing="easeOutExpo"><img src="img/slides/slide-concept-2-5.png" alt=""></div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="530"
									 data-y="300"
									 data-speed="500"
									 data-start="3450"
									 data-easing="easeOutExpo" style="font-size: 37px;">Think</div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="555"
									 data-y="350"
									 data-speed="500"
									 data-start="3650"
									 data-easing="easeOutExpo" style="font-size: 47px;">Outside</div>

								<div class="tp-caption blackboard-text lfb "
									 data-x="580"
									 data-y="400"
									 data-speed="500"
									 data-start="3850"
									 data-easing="easeOutExpo" style="font-size: 32px;">The box :)</div>
							</li>
							<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >

								<img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

									<div class="tp-caption fade"
										 data-x="50"
										 data-y="100"
										 data-speed="1500"
										 data-start="500"
										 data-easing="easeOutExpo"><img src="img/slides/slide-concept.png" alt=""></div>

									<div class="tp-caption blackboard-text fade "
										 data-x="180"
										 data-y="180"
										 data-speed="1500"
										 data-start="1000"
										 data-easing="easeOutExpo" style="font-size: 30px;">easy to</div>

									<div class="tp-caption blackboard-text fade "
										 data-x="180"
										 data-y="220"
										 data-speed="1500"
										 data-start="1200"
										 data-easing="easeOutExpo" style="font-size: 40px;">customize!</div>

									<div class="tp-caption main-label sft stb"
										 data-x="580"
										 data-y="190"
										 data-speed="300"
										 data-start="1500"
										 data-easing="easeOutExpo">DESIGN IT!</div>

									<div class="tp-caption bottom-label sft stb"
										 data-x="580"
										 data-y="250"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo">Create slides with brushes and fonts.</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="home-intro">
					<div class="container">

						<div class="row">
							<div class="col-md-8">
								<p>
									The fastest way to grow your business with the leader in <em>Technology.</em>
									<span>Check out our options and features included.</span>
								</p>
							</div>
							<div class="col-md-4">
								<div class="get-started">
									<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
									<div class="learn-more">or <a href="index.html">learn more.</a></div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">

					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								Our pastry is
								<strong class="inverted">
									<span class="word-rotate">
										<span class="word-rotate-items">
											<span>incredibly</span>
											<span>especially</span>
											<span>extremely</span>
										</span>
									</span>
								</strong>
								beautiful and delicion for any occasion.
							</h2>
							<p class="featured lead">
								We make amazing cakes that we sure you will like. If you cannot find anything you like, please write us and we will make a cake according to your tastes and needs. Below you can see our process.
							</p>
						</div>
					</div>

				</div>

				<div class="home-concept">
					<div class="container">

						<div class="row center">
							<span class="sun"></span>
							<span class="cloud"></span>
							<div class="col-md-2 col-md-offset-1">
								<div class="process-image" data-appear-animation="bounceIn">
									<img src="img/home-concept-item-1.png" alt="" />
									<strong>Prepare</strong>
								</div>
							</div>
							<div class="col-md-2">
								<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
									<img src="img/home-concept-item-2.png" alt="" />
									<strong>Bake</strong>
								</div>
							</div>
							<div class="col-md-2">
								<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
									<img src="img/home-concept-item-3.png" alt="" />
									<strong>Assemble</strong>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<div class="project-image">
									<div id="fcSlideshow" class="fc-slideshow">
										<ul class="fc-slides">
											<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-1.jpg" /></a></li>
											<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-2.jpg" /></a></li>
											<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-3.jpg" /></a></li>
										</ul>
									</div>
									<strong class="our-work">Our Work</strong>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Start Cakes-->
				
				<section class=" top">
					<hr class="tall" />
					<div class="container">
						<div class="row" id="projects">
							<div class="col-md-12">
								<h1>Latest <strong>Cakes</strong></h1>

								<div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 4, "singleItem": false, "autoHeight": true}'>
									<div>
										<div id="popupProject1" class="popup-inline-content">
											<h2>Lorem Ipsum Dolor 1</h2>

											<div class="row">
												<div class="col-md-6">

													<img class="img-thumbnail img-responsive" alt="" src="img/projects/project.jpg">

												</div>

												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="icon icon-check"></i> Design</li>
														<li><i class="icon icon-check"></i> HTML/CSS</li>
														<li><i class="icon icon-check"></i> Javascript</li>
														<li><i class="icon icon-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject1" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Maraka</span>
													<span class="thumb-info-type">Cake</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div id="popupProject1" class="popup-inline-content">
											<h2>Lorem Ipsum Dolor 1</h2>

											<div class="row">
												<div class="col-md-6">

													<img class="img-thumbnail img-responsive" alt="" src="img/projects/project.jpg">

												</div>

												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="icon icon-check"></i> Design</li>
														<li><i class="icon icon-check"></i> HTML/CSS</li>
														<li><i class="icon icon-check"></i> Javascript</li>
														<li><i class="icon icon-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject1" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Maraka</span>
													<span class="thumb-info-type">Cake</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div id="popupProject2" class="popup-inline-content">
											<h2>Lorem Ipsum Dolor 2</h2>

											<div class="row">
												<div class="col-md-6">

													<img class="img-thumbnail img-responsive" alt="" src="img/projects/project.jpg">

												</div>

												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="icon icon-check"></i> Design</li>
														<li><i class="icon icon-check"></i> HTML/CSS</li>
														<li><i class="icon icon-check"></i> Javascript</li>
														<li><i class="icon icon-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-1.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Okler</span>
													<span class="thumb-info-type">Brand</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-2.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">The Fly</span>
													<span class="thumb-info-type">Logo</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-3.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">The Code</span>
													<span class="thumb-info-type">Website</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject1" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">SEO</span>
													<span class="thumb-info-type">Website</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject1" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-1.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Okler</span>
													<span class="thumb-info-type">Brand</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-2.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">The Fly</span>
													<span class="thumb-info-type">Logo</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject1" data-plugin-options='{"type":"inline", preloader: false}'>
												<img alt="" class="img-responsive" src="img/projects/project-3.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">The Code</span>
													<span class="thumb-info-type">Website</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- End Cakes -->

				<div class="container">
					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								We make
								<strong class="inverted">
									<span class="word-rotate">
										<span class="word-rotate-items">
											<span>incredibly</span>
											<span>especially</span>
											<span>extremely</span>
										</span>
									</span>
								</strong>
								beautiful and delicious handmade pastry.
							</h2>
							<p class="featured lead">
								Birthday and Gourmet Cakes for Every Occasion.
							</p>
						</div>
					</div>

					<div class="row push-top">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-group"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Happy Birthday</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-file"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Thank you</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-google-plus"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Happy Anniversary</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="image-icon small user"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">LOVE</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-bars"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Indulge myself</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-desktop"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Present</h4>
									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="featured">
					<div class="container">

						<div class="row">

							<div class="col-md-6">
								<h2 class="push-top">Exclusive <strong>Pastry</strong></h2>
								<p class="lead">
									<strong>57</strong> cakes, <strong>128</strong> kinds of filling, more than <strong>400</strong> different tastes 
								</p>
								<p class="tall">
									 Our gourmet cakes are baked exclusively in our award-winning New York bakery and each cake we send can be delivered overnight, nationwide. Our cake delivery service is perfect for your loved ones next birthday, anniversary or special occasion. Order with the best birthday cake delivery site online - we guarantee your gift will be on time! Each cake, cookie and brownie delivery arrives in a gift box and includes a greeting card with your personal message. Saying Happy Birthday has never been easier with our cake deliveries! Mix and match our cakes and cookies for a unique and refreshing gift delivery to let your your loved one know you care.
								</p>
							</div>
							<div class="col-md-6 push-top">
								<img class="img-responsive" src="img/promo.jpg" data-appear-animation="fadeInRight">
							</div>
						</div>
					</div>
				</section>

				<!-- Start Order Now -->

				<section class="call-to-action">
					<div class="container featured">
						<div class="row">
							<div class="center">
								<h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website! <a href="#" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Order Now!</a> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
							</div>
						</div>
					</div>
				</section>

				<!-- End Order Now -->

				<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax.jpg);">
					<div class="container">
						<div class="row center">
							<div class="col-md-12">
								<i class="icon icon-featured icon-comments" data-appear-animation="bounceIn"></i>
								<h1 class="short text-shadow big white bold"><strong>We're excited about Porto Template</strong></h1>
								<h3 class="lead white">5,500 customers in 100 countries use Porto Template. Meet our customers.</h3>
							</div>
						</div>
					</div>
				</section>

			</div>

			<!-- Start Portfolio -->
			<div class="container">

				<h2>Portfolio</h2>

				<ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
					<li data-option-value="*" class="active"><a href="#">Show All</a></li>
					<li data-option-value=".websites"><a href="#">Websites</a></li>
					<li data-option-value=".logos"><a href="#">Logos</a></li>
					<li data-option-value=".brands"><a href="#">Brands</a></li>
				</ul>

				<hr />

				<div class="row">

					<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
						<li class="col-md-3 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">SEO</span>
										<span class="thumb-info-type">Website</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item brands">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-1.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Okler</span>
										<span class="thumb-info-type">Brand</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item logos">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-2.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">The Fly</span>
										<span class="thumb-info-type">Logo</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-3.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">The Code</span>
										<span class="thumb-info-type">Website</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-3.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">The Code</span>
										<span class="thumb-info-type">Website</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">SEO</span>
										<span class="thumb-info-type">Website</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item brands">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-1.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Okler</span>
										<span class="thumb-info-type">Brand</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 isotope-item logos">
							<div class="portfolio-item img-thumbnail">
								<a href="portfolio-single-project.html" class="thumb-info">
									<img alt="" class="img-responsive" src="img/projects/project-2.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">The Fly</span>
										<span class="thumb-info-type">Logo</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
									</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Portfolio -->

			<!-- Start Order Now -->

			<section class="call-to-action">
				<div class="container featured">
					<div class="row">
						<div class="center">
							<h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website! <a href="#" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Order Now!</a> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
						</div>
					</div>
				</div>

				<hr class="tall" />
			</section>

			<!-- End Order Now -->

			<!-- Begin About -->
			<div class="container">

				<div class="row center">
					<div class="col-md-12">
						<h2 class="short word-rotator-title">6  <strong class="inverted" data-appear-animation="bounceIn">
								<span class="word-rotate">
									<span class="word-rotate-items">
										<span>reasons</span>
										<span>motivators</span>
										<span>rules</span>
									</span>
								</span>
							</strong> why clients picked us
						</h2>
						<p class="featured lead">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non <span class="alternative-font">metus.</span> pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
						</p>
					</div>
				</div>

				<hr class="tall" />
			</div>

			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-group"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Ingredients</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
									</div>
								</div>
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-file"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">100% natural and fresh</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-film"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Handmade</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
									</div>
								</div>
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-check"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Present for every order</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-bars"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">We don't have holidays</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
									</div>
								</div>
								<div class="feature-box secundary">
									<div class="feature-box-icon">
										<i class="icon icon-desktop"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="shorter">Customer</h4>
										<p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="featured highlight footer">
				<div class="container">
					<div class="row center counters">
						<div class="col-md-3">
							<strong data-to="400" data-append="+">0</strong>
							<label>Happy Clients</label>
						</div>
						<div class="col-md-3">
							<strong data-to="3">0</strong>
							<label>Years in Business</label>
						</div>
						<div class="col-md-3">
							<strong data-to="1000" data-append="+">0</strong>
							<label>Cakes made</label>
						</div>
						<div class="col-md-3">
							<strong data-to="57">0</strong>
							<label>Different cakes</label>
						</div>
					</div>
				</div>
			</section>

			<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
				<div class="container">
					<div class="row center">
						<div class="col-md-12">

							<div class="row">
								<div class="owl-carousel" data-plugin-options='{"items": 1}'>
									<div>
										<blockquote>
											<p><i class="icon icon-quote-left"></i> Hello, I want to thank you for creating a great template and for the excellent and quick support and help that you have been providing to me as I begin to work with it.</p>
											<span>- Joe Doe</span>
										</blockquote>
									</div>
									<div>
										<blockquote>
											<p><i class="icon icon-quote-left"></i> Just want to say Okler RULES. Provide great tech service for each template and allows me to become more knowledgeable as a designer.</p>
											<span>- Edward Chelton</span>
										</blockquote>
									</div>
									<div>
										<blockquote>
											<p><i class="icon icon-quote-left"></i> Just came here to say a big thank you to the author of this template. It works amazingly well, the documentation is top-notch, and the theme looks beautiful.</p>
											<span>- Bruce Ericson</span>
										</blockquote>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2><strong>Who</strong> We Are</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>
					</div>
					<div class="col-md-7">
						<div class="progress-bars">
							<div class="progress-label">
								<span>Decoration</span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
									<span class="progress-bar-tooltip">100%</span>
								</div>
							</div>
							<div class="progress-label">
								<span>Taste</span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
									<span class="progress-bar-tooltip">85%</span>
								</div>
							</div>
							<div class="progress-label">
								<span>WordPress</span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
									<span class="progress-bar-tooltip">75%</span>
								</div>
							</div>
							<div class="progress-label">
								<span>Photoshop</span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
									<span class="progress-bar-tooltip">85%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="tall" />
			</div>

			<div class="container">
				<div class="row" id="team">
					<div class="col-md-12">

						<div class="row">

							<ul class="team-list">
								<li class="col-md-3">
									<div class="team-item thumbnail">
										<a href="about-me.html" class="thumb-info team">
											<img alt="" height="270" src="img/team/team-1.jpg">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Anna Kyrpychenko</span>
												<span class="thumb-info-type">CEO</span>
											</span>
										</a>
										<span class="thumb-info-caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
											<span class="thumb-info-social-icons">
												<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.instagram.com" data-original-title="Instagram"><i class="icon icon-instagram"></i><span>Instagram</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.pinterest.com" data-original-title="Pinterest"><i class="icon icon-pinterest"></i><span>Pinterest</span></a>
											</span>
										</span>
									</div>
								</li>
								<li class="col-md-3">
									<div class="team-item thumbnail">
										<a href="about-me.html" class="thumb-info team">
											<img alt="" height="270" src="img/team/team-2.jpg">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Leonid Kyrpychenko</span>
												<span class="thumb-info-type">Marketing</span>
											</span>
										</a>
										<span class="thumb-info-caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
											<span class="thumb-info-social-icons">
												<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
											</span>
										</span>
									</div>
								</li>
								<li class="col-md-3">
									<div class="team-item thumbnail">
										<a href="about-me.html" class="thumb-info team">
											<img alt="" height="270" src="img/team/team-3.jpg">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Maria Kyrpychenko</span>
												<span class="thumb-info-type">Developer</span>
											</span>
										</a>
										<span class="thumb-info-caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
											<span class="thumb-info-social-icons">
												<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
											</span>
										</span>
									</div>
								</li>
								<li class="col-md-3">
									<div class="team-item thumbnail">
										<a href="about-me.html" class="thumb-info team">
											<img alt="" height="270" src="img/team/team-4.jpg">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Michael Kyrpychenko</span>
												<span class="thumb-info-type">Design</span>
											</span>
										</a>
										<span class="thumb-info-caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
											<span class="thumb-info-social-icons">
												<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="icon icon-facebook"></i><span>Facebook</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="icon icon-twitter"></i><span>Twitter</span></a>
												<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="icon icon-linkedin"></i><span>Linkedin</span></a>
											</span>
										</span>
									</div>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			<!-- End About -->

			<!-- Start Order Now -->

			<section class="call-to-action featured footer">
				<div class="container">
					<div class="row">
						<div class="center">
							<h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website! <a href="#" target="_blank" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Order Now!</a> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
						</div>
					</div>
				</div>
			</section>
			
			<!-- End Order Now -->
		</div>

		{{>footer}}
	</div>

	{{>libs}}
</body>
</html>

